<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="">Shop by Recipe</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="recipes" routerLinkActive="active"
            >Recipes <span class="visually-hidden">(current)</span>
            <!--
              TODO
              What is the use of the span above?
            -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="shopping-list" routerLinkActive="active">Shopping List</a>
        </li>
      </ul>
      <ul class="nav justify-content-center">
        <li class="dropdown" appDropdown>
          <!--
            TODO
            No need for href on the manage or the list items. The thing with href's is that it refreshes the page. This
            kind of defeats angular's ability to load up components without refreshing the page, which takes more time.

            I would suggest using a routerLink attribute
          -->
          <a class="nav-link dropdown-toggle" href="#">Manage</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action 1</a></li>
            <li><a class="dropdown-item" href="#">Action 1</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
